* {
    padding: 0;
    margin: 0;
}

.box {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    margin: 24px auto;
}

.video,
.canvas,
.preview {
    position: absolute;
    left: 0;
    right: 0;
    height: 95%;
    width: 95%;
    margin: auto;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 4px solid #8ab5f8;
    z-index: 9;
    transform: scale(-1, 1);
}

.preview {
    display: none;
    transform: none;
    border: none;
    border-radius: 5px;
}


#message,
#timer {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 18px;
    color: #3b66a8;
    margin: 24px auto;
}

.btngroup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}


#confirm,
#retake {
    display: none;
    height: 40px;
    width: 90%;
    margin: 10px auto;
    color: #FFFFFF;
    background-color: #5898fff0;
    border-radius: 5px;
    border: none;

}

#retake {
    background-color: #d7d7d7e2;
}