* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #34404B;
    --main: #3079FF;
    --primary: #EAF1FF;
}



.box {
    display: block;
    position: relative;
    width: calc(100% - 48px);
    aspect-ratio: 1;
    margin: 24px auto;
    border-radius: 50%;
    background-color: var(--primary);
    /* background-color: #6b9fff; */
    z-index: 8;
}

.video,
.canvas,
.preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    margin: auto;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    z-index: 9;
    transform: scale(-1, 1);
}

.video {
    place-items: center;
}

.preview {
    display: none;
    background-color: var(--primary);
    color: #34404B;
    border: 4px solid var(--main);
}


#message,
#timer {
    text-align: center;
    font-weight: 600;
    font-size: medium;
    margin: 24px auto;
    width: calc(100% - 48px);
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 24px;
}



.btngroup {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
}



#confirm,
#retake,
#snap {
    display: none;
    font-weight: bold;
    height: 40px;
    width: calc(100% - 48px);
    color: var(--primary);
    background-color: var(--main);
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-bottom: 12px;
}

#retake {
    color: var(--main);
    background-color: var(--primary);
}