* {
    padding: 0;
    margin: 0;
    font-family: monospace;

}


.box {
    display: block;
    position: relative;
    width: calc(100% - 48px);
    aspect-ratio: 1;
    margin: 24px auto;
    border-radius: 50%;
    background-color: #6b9fff;
    z-index: 8;
}

.video,
.canvas,
.preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    margin: auto;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    z-index: 9;
    transform: scale(-1, 1);
}

.video {
    place-items: center;
}

.preview {
    display: none;
    transform: none;
    border: 4px solid #FFFFFF;
    border-radius: 12px;
}


#message,
#timer {
    text-align: center;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 18px;
    color: #3b66a8;
    margin: 24px auto;
    width: calc(100% - 48px);
}



.btngroup {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
}



#confirm,
#retake {
    display: none;
    height: 40px;
    width: calc(100% - 48px);
    color: #EAF1FF;
    background-color: #3079FF;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-bottom: 12px;
}

#retake {
    color: #3079FF;
    background-color: #EAF1FF;
}